<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Preahvihear">
    <link href="homeStyle.css" rel="stylesheet" type="text/css">
    <link href="homeJavascript.js" rel="javascript" type="text/javascript">
    <title>Document</title>
</head>

<body>
    <div class="make_thread">
        <button id="make_thread">Make Post</button>
    </div>

    <div class="boxArea">

        <form id="new_post">
        <div id="popup">
        <div class="box">
            <div class="boxContent">

                <div class="contentLeft">
                    <div class="row no-gutters">
                        <div class="col-12 p-0">
                            <div class="contentSection">
                                <label for="pfp"><span class="inputLabel"><i class="fa-solid fa-circle-user fa-fw"></i> <strong>Icon</strong></span></label>
                                <span class="float-end">
                                    <select id="pfp" name="pfp">
                                        <option>Select an icon</option>
                                        <option>Faen</option>
                                        <option>Friena</option>
                                        <option>Indigo</option>
                                        <option>Mailas</option>
                                        <option>Ise</option>
                                        <option>Other</option>
                                    </select>
                                </span>
                            </div>

                            <div class="contentSection">
                                <label for="@"><span class="inputLabel"><i class="fa-solid fa-at fa-fw"></i> <strong>Username</strong></span></label>
                                <span class="float-end"><input type="text" id="@" name="at" placeholder="ex. positiveInfo"></span>
                            </div>

                            <div class="contentSection">
                                <label for="username"><span class="inputLabel"><i class="fas fa-theater-masks fa-fw"></i> <strong>Display Name</strong></span></label>
                                <span class="float-end"><input type="text" id="username" name="username" placeholder="ex. Pat"></span>
                            </div>

                            <div class="contentSection">
                                <label for="likes"><span class="inputLabel"><i class="fa-solid fa-heart fa-fw"></i> <strong>Likes</strong></span></label>
                                <span class="float-end"><input type="number" id="likes" name="likes" placeholder="0"></span>
                            </div>

                            <div class="contentSectionBottom">
                                <label for="mentions"><span class="inputLabel"><i class="fa-solid fa-repeat fa-fw"></i> <strong>Reposts</strong></span></label>
                                <span class="float-end"><input type="number" id="mentions" name="mentions" placeholder="0"></span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="contentRight">
                    <div class="row no-gutters">
                        <div class="col-12 p-0">
                            <div>
                                <label for="content"><span><i class="fa-solid fa-pencil"></i> <strong>Content</strong></span></label>
                                <span class="inputBox"><textarea class="contentPostWriting" id="content" name="content" placeholder="start typing here ! there currently isn't any word limit..."></textarea></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>
        </form>

        <div class="buttonRow">
            <button class="buttonCancel" type="cancel" id="cancel"><i class="fas fa-trash-alt"></i> <span>Cancel</span></button>
            <button class="buttonPost" type="submit"><i class="fas fa-paper-plane"></i> <span>Post</span></button>
        </div>

    </div>

    <div class="thread">
        <ol id="main_thread">

        </ol>
    </div>

</body>

</html>